<div class="container">
    <div class="row">
      <a class="navbar-brand" href="/employee/login">
        Logout<h2>Welcome <span class="employee-name"></span></h2>
      </a>
      <div class="col-md-6 col-md-offset-3">
        <div class="newDiv">
         
        </div>
      </div>
    </div>
  </div>
