<div class="container">
  <div class="row">
    <div class="col-lg-6 ">
      <div class="container-one">
        <h4>Are you unable to put your bin out on the side of the road and bring it back in, due to being away from
          the
          property, a physical condition, or any other reason?
          Bin Out is a platform through which you can schedule to have your bin taken out by a local.
          Just sign up for an account, enter your address and the date on which you require the service, and the
          closest
          employee will take your bin out for you!
        </h4>
        <h3>
          <a href="/user/signup/"><button style="background-color:#89c281!important;" class="btn btn-success"> Click Here to Signup</button></a>
          <a href="/user/dashboard/"><button style="background-color:#89c281!important;" class="btn btn-success">Already a User? Click here</button></a>
        </h3>
      </div>
    </div>
    <div class="col-lg-6 ">
      <div class="container-two">
        <h4>Are you looking to make some extra cash on the side? Are you interested in helping out in your local
          community?
          You may want to consider signing up for Bin Out! The Bin Out platform connects you with people in your local
          area that
          are unable to take out their own bins due to circumstances such as physical conditions and being away from
          their
          home.
          You will be presented with local contracts and you decide whether to accept or decline them based on how
          they
          fit into
          your schedule!
        </h4>
        <h3>
          <a href="/employee/signup"><button style="background-color:#eee451!important;" class="btn btn-warning">Click Here to Signup</button></a>
          <a href="/employee/login"><button style="background-color:#eee451!important;" class="btn btn-warning">Click Here to Login</button></a>
        </h3>
      </div>
    </div>
  </div>
</div>