
  <div class="container">
    <div class="row">
      <div class="col-lg-6 ">
       <h1>{{title}}</h1>
        <h3>Already have user Id:  <a href="/user/dashboard/"> Click Here </a></h3>
        <p>Or sign up <a href="/user/signup/">click here</a></p>
        <br />

      <h3>Already have Employee Email and Password:  <a href="/employee/login">Click Here</a></h3>
       <p>Or sign up <a href="/employee/signup">click here</a></p>

      </div>
      <div class="col-lg-6 ">
        <img src="../images/large_garbage-help.jpg" style="width: 700px;" alt="">
      </div>
    </div>
  </div>

  

