:root {
  --color-one: #fffdf7;
  --color-two: #b13333;
  --color-three: #eee451;
  --color-four: #89c281;
  --color-five: #4c7d43;
}

form.signup,
form.login {
  margin-top: 50px;
}

.container-one {
  background-color: var(--color-three);
  font-family: 'Source Code Pro', monospace;
}

.container-two {
  background-color: var(--color-four);
  font-family: 'Source Code Pro', monospace;
}

body, html {
  height: 100%;
}

/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/street-bin.jpg");

/* Set a specific height */
height: 50%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

/* Place text in the middle of the image */
.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}